.textoCadastroUsuario {
    font-weight: bold !important;
}

.text-decoration-none {
    text-decoration: none;
}

.botaoCancelar {
    margin-right: 20px !important;
}

.imagemCadastro {
    background-image: url(https://i.imgur.com/jAZOVhd.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}