.caixa {
    background-color: #3F51B5 !important;
}

.titulo {
    color: white !important;
    font-weight: bold !important;
}

.botaoVerPostagens {
    border-color: white !important;
    background-color: #3F51B5 !important;
    color: white !important;
}

.postagens {
    background-color: white;
}

.imagemHome {
    content: url(https://i.imgur.com/67woj4K.png);
    width: max(350px, 65%);
    margin: 0 auto;
    display: block;
    /* transform: rotateY(180deg); */
  }