.textoLogin {
    font-weight: bold !important;
}

.text-decoration-none {
    text-decoration: none;
}

.imagemLogin {
    background-image: url(https://i.imgur.com/KblQkgy.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.botaoLogar {
    background-color: #D4A373 !important;
}