.box1 {
    background-color: #3F51B5;
    height: 120px;
}

.box2 {
    background-color: #303F9F;
    height: 60px; 
}

.textoFooter {
    color: white;
}

.redes {
    font-size: 40px !important;
    color: white;
}